header{
    padding: 15px;
   
}
section{
  background-color: rgba(240, 238, 240, 0.91);
  padding: 50px;
  width: 200px;
  height: 100px;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  
  
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-image: url("./estilo-de-papel-linhas-dinamicas-fundo_23-2149008629.avif");
 background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
 h1{
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: 1px;
}


